
@{
    ViewBag.Title = "LoginRoleError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Role Error</h2>

<p>
    <hgroup>
        <h1 class="text-danger">No Role Found</h1>
        <h2 class="text-danger">You have been redirected here because we could not find Your Role.</h2>
    </hgroup>
</p>

@ViewBag.rr