@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Message</h2>

<div class="panel-body">
    <div class="row lead">
        <strong>Executive summary</strong>
        <p>
            The purpose of this research project is to establish an Online platform for photographers to sell their
            services and skills to potential clients and event planners.

            <br />
            <br />
            This application is supposed to make life easier for models, event planners or just everyday people who
            require professional pictures and/or videos from our photographers. The photographers will benefit as
            well, since they will have the opportunity for more jobs, which means more money.

            <br />
            <br />
            The name of the company is Foto45 it is allocated at the Shop 10/11, 359 Murchies Passage, Durban
            Central. They want to expand and cater more services to their clients. Their clients enjoy their services
            and demand more of their services and a way to have easy access to those services.
        </p>
        <hr />
    </div>

    <div class="row">
        <strong>Prject Description</strong>
        <p>
            In this day and age, besides work and school society feels like cavemen when they spend
            even an hour without a technological device, in such a way that they end up doing a lot
            of things rushed or at the last minute. For example, a Secondary school might be busy preparing
            Students for tests, examinations and might not have time to take student pictures for that year.
            Leaving the task for last minute may lead to the institution not having the option of booking a
            reliable photographer or not even finding one at all.
            <br />
            <br />
            This web application will be able to address the problems that are related to Photography and
            Videography bookings mostly benefiting a soon to be married couple, school or business function
            photoshoots, amateur models, individuals and companies that have monthly or weekly photo shoots.
        </p>
        <hr />
    </div>

    <div class="row">
        <strong>Project Objectives</strong>
        <p>
            <h4>Our main objective is: </h4>
            	To create an application that will be user friendly.<br />
            	Allow users to capture their details online.<br />
            	Allow users to view and update their personal details.<br />
            	Create an online shop in line with the business processes.<br />
            	Allow users to track and monitor their online purchases.<br />
            	Allow the system admin to approve and decline incomplete bookings.<br />
            	Allow the Artist to approve and decline bookings.
        </p>
        <hr />
    </div>

    <div class="row">
        <strong>Business Processes</strong>
        <p>
            <h4>Current system used by Business</h4>
            	Clients make bookings at the store or via telephone lines<br />
            	Bookings are store in a log file<br />
            	For purchases, clients have to visit the store<br />
            	Poor communication with clients<br />
            	All payments are handled on cash at the premises<br />
            	Clients are notified by phone of their booking statuses<br />
            	Poor management of customer records

            <br />
            <br />
            <h4>New system processes</h4>
            	Make online booking.<br />
            	Make online purchase.<br />
            	Make profiles (Client and Artist)<br />
            	View Online Store Catalogues.<br />
            	Make online Payment.<br />
            	Manager online purchase order.<br />
            	Manage artist booking status
        </p>
        <hr />
    </div>
    <div>
        @Html.ActionLink("Back to Home", "Index")
    </div>
</div>