
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2><u>Shipping Index</u></h2>

<center>
    <div class="row">
        <h2><u>Delivery Information.</u></h2>
        <p>
            <ul>
                <li>All Orders</li>
                <li>All Delivered Orders</li>
                <li></li>
            </ul>
        </p>
    </div>
    <hr />
    <div class="row">
        <h2><u>Delivery Personal Information.</u></h2>
        <p>
            <ul>
                <li>All Delivery Personal</li>
                <li>Orders And Delivery Personal</li>
                <li></li>
            </ul>
        </p>
    </div>
</center>

@Html.ActionLink("Return To SuperAdmin", "Index", "SuperAdmin", null, new { @class = "btn btn-primary" })